/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 200;
}
h4,
h5 {
  font-size: 2rem;
}

li,
p,
button,
input {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  cursor: pointer;
  color: white;
  transition: background 1s ease-in-out;
}

button:hover {
  background: #324864;
}

/* NAV Styles */

.main-head {
  background: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
}

/* Hero Section Styles */

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h3 {
  padding: 2rem;
}

/* Location styles */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 95%;
  margin: auto;
}

.locations-head h2 {
  text-decoration: underline;
}
.locations-head h3 {
  padding: 2rem 0;
}

.cloud {
  position: absolute;
  top: 0%;
  right: -30%;
  pointer-events: none;
}

.moving-cloud1 {
  animation: cloudAnimation 6s infinite alternate ease-in-out;
}

.moving-cloud2 {
  animation: cloudAnimation 4s infinite alternate ease-in-out;
  top: 20%;
  z-index: -1;
  opacity: 0.7;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Benefits Styles */
.benefits-head {
  min-height: 30vh;
  background: #343c44;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.benefits-head h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  min-height: 70vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cards img {
  max-width: 20%;
  height: 100px;
}

.card-icon {
  background-color: #4c6e97;
  text-align: center;
}

.card h4,
.card p {
  padding: 3rem;
}

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/contact-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.9);
  width: 60%;
  color: white;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 2rem;
}

.name-form,
.email-form {
  padding: 2rem;
  text-align: center;
}

.form-wrapper label {
  margin: 0 2rem;
  font-size: 2rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin: 2rem 0 0 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

footer {
  background: rgba(19, 28, 39, 0.9);
  color: white;
}
.footer-wrapper {
  display: flex;
  width: 90%;
  padding: 2rem;
  margin: auto;
  align-items: center;
  min-height: 10vh;
}

.footer-wrapper ul {
  list-style: none;
  display: flex;
  flex: 2 1 40rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-wrapper h5 {
  flex: 1 1 40rem;
}

button:focus {
  background: #26374d;
  outline-color: white;
}
/* Media Query */
@media screen and (max-width: 929px) {
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
  html {
    font-size: 45%;
  }
  .moving-cloud1 {
    z-index: -2;
  }
  .moving-cloud2 {
    z-index: -3;
  }

  .locations-head h3 {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .form-wrapper {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer h5 {
    padding-bottom: 3rem;
  }
}
